@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #171717;
  --foreground: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #171717;
    --foreground: #ffffff;
  }
}

@layer components{
  .container{
    @apply mx-auto max-w-7xl px-4 lg:px-0
  }
  .text-gradient{
    @apply bg-gradient-to-r from-green-600 to-blue-600;
    @apply bg-clip-text text-transparent;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
